{% extends "layout/app.twig" %}

{% block content %}

    <div class="w-100 d-flex flex-column align-items-center mt-5">
        <h1>Galaxy</h1>
        <p class="important">
            Welcome to Galaxy Framework.
        </p>
    </div>

    <div class="d-flex justify-content-center w-100 mt-5">
        <example-component></example-component>
    </div>

{% endblock %}